{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-react-jsx", ["styled-components", { "ssr": true }]]
}
